#ingame_HUD_BetaOverlay {
    position: fixed;
    @include S(top, 10px);
    left: 50%;
    transform: translateX(-50%);
    color: $colorRedBright;
    @include Heading;
    text-transform: uppercase;
}
