#ingame_HUD_building_placer {
    position: fixed;
    @include S(bottom, 60px);
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;

    @include S(padding, 6px);
    justify-content: center;
    align-items: center;
    background-color: $ingameHudBg;
    @include S(border-radius, 4px);
    background: #333;
    @include S(width, 300px);

    .buildingLabel {
        @include PlainText;
        color: #fff;
        text-transform: uppercase;
        @include S(margin-bottom, 2px);
    }

    .instructions,
    .description {
        text-align: center;
        color: mix($accentColorDark, $accentColorBright, 50%);
        @include SuperSmallText;
    }

    @include StyleBelowWidth(700px) {
        display: none !important;
    }
}
