.ingame_buildingsToolbar {
    position: absolute;
    @include S(bottom, 5px);
    left: 50%;
    transform: translateX(-50%);

    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;

    background: transparent;
    transition: transform 120ms ease-in-out;
    will-change: transform;

    &:not(.visible) {
        transform: translateX(-50%) translateY(#{D(100px)});
    }

    .buildings {
        display: grid;
        grid-auto-flow: column;
        justify-items: center;
        align-self: center;
        grid-row: 2 / 3;

        background-color: rgba(240, 241, 243, 0.5);
        @include S(border-radius, $globalBorderRadius);

        @include DarkThemeOverride {
            background-color: rgba(darken($darkModeGameBackground, 15), 0.95);
        }

        &.secondary {
            grid-row: 1 / 2;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            .building {
                .icon {
                    @include S(width, 30px);
                    @include S(height, 22px);
                    background-size: 45%;
                }
                &:not(.unlocked) {
                    &::before {
                        background-size: #{D(13px)};
                    }
                }
                &.unlocked {
                    .puzzle-lock {
                        & {
                            /* @load-async */
                            background: uiResource("locked_building.png") center center / #{D(11px)} #{D(
                                    11px
                                )} no-repeat;
                        }

                        @include S(margin-left, 14px);
                        bottom: 67px;
                    }
                }
            }
        }

        .building {
            .icon {
                color: $accentColorDark;
                display: flex;
                flex-direction: column-reverse;
                position: relative;
                align-items: center;
                justify-content: center;
                @include S(padding, 5px);
                @include S(padding-bottom, 1px);
                @include S(width, 35px);
                @include S(height, 37px);
                @include S(border-radius, $globalBorderRadius);

                background: center center / 70% no-repeat;
            }

            &:not(.unlocked) {
                .icon {
                    @include S(width, 20px);
                    opacity: 0.15;
                }
                &.editor {
                    .icon {
                        pointer-events: all;
                        cursor: pointer;
                        &:hover {
                            background-color: rgba(22, 30, 68, 0.1);
                        }
                    }
                }
                &:not(.editor) {
                    .icon {
                        background-image: uiResource("locked_building.png") !important;
                    }
                }
            }

            &.unlocked {
                .icon {
                    pointer-events: all;
                    transition: all 50ms ease-in-out;
                    transition-property: background-color, transform;

                    cursor: pointer;
                    &:hover {
                        background-color: rgba(30, 40, 90, 0.1);
                    }

                    &.pressed {
                        transform: scale(0.9) !important;
                    }

                    &.selected {
                        // transform: scale(1.05);
                        background-color: rgba(lighten($colorBlueBright, 9), 0.4);

                        .keybinding {
                            color: #111;
                        }
                    }
                }

                .puzzle-lock {
                    & {
                        /* @load-async */
                        background: uiResource("locked_building.png") center center / #{D(14px)} #{D(14px)}
                            no-repeat;
                    }

                    display: grid;
                    grid-auto-flow: column;
                    @include S(margin-top, 2px);
                    @include S(margin-left, 16px);
                    @include S(margin-bottom, 29px);

                    position: absolute;
                    bottom: 20px;
                    transition: all 0.12s ease-in-out;
                    transition-property: opacity, transform;

                    cursor: pointer;
                    pointer-events: all;

                    @include S(width, 14px);
                    @include S(height, 14px);

                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}
