#ingame_HUD_building_placer {
    position: fixed;
    @include S(top, 50px);
    @include S(right, 10px);

    display: flex;
    flex-direction: column;

    @include S(padding, 6px);
    justify-content: center;
    align-items: flex-start;
    @include S(border-radius, 4px);
    background: rgba(#333, 0.9);
    @include S(width, 200px);

    .buildingLabel {
        @include PlainText;
        color: #fff;
        text-transform: uppercase;
        @include S(margin-bottom, 2px);
    }

    .instructions,
    .description {
        color: #fff;
        opacity: 0.8;
        @include SuperSmallText;
    }

    @include StyleBelowWidth(700px) {
        display: none !important;
    }
}
