#ingame_HUD_EntityDebugger {
    position: absolute;
    @include S(right, 30px);

    bottom: 0;
    height: calc(100vh - 200px * var(--ui-scale));

    display: grid;
    grid-template-rows: auto auto 1fr;

    font-size: 14px;
    line-height: 16px;
    color: #fff;
    background: rgba(0, 10, 20, 0.7);
    padding: 10px;
    &,
    * {
        pointer-events: all;
    }

    .flag {
        display: inline-block;
        background: #333438;
        @include S(padding, 2px);
        @include S(margin-right, 2px);

        u {
            opacity: 0.5;
        }
    }

    .entityInfo {
        overflow-y: auto;
        .components {
            @include S(margin-top, 4px);
            display: grid;
            grid-template-columns: 1fr 1fr;
            overflow: auto;
            @include S(grid-gap, 3px);
            .component {
                @include S(padding, 2px);
                background: #333;
                display: flex;
                flex-direction: column;

                @include S(width, 150px);
                @include S(height, 150px);

                .data {
                    resize: vertical;
                    flex-grow: 1;
                }
            }
        }
    }
}
