#ingame_HUD_MassSelector {
    position: absolute;
    @include S(top, 50px);
    left: 50%;
    transform: translateX(-50%);
    background: rgba(#f77, 0.8);
    @include S(border-radius, 4px);
    @include S(padding, 9px);
    @include PlainText;
    color: #fff;
    display: flex;
    align-items: center;

    .keybinding {
        @include S(margin, 0, 4px);
        position: relative;
        top: unset;
        left: unset;
        right: unset;
        bottom: unset;
    }
}
