#ingame_HUD_ModeMenu {
    position: absolute;
    @include S(bottom, 10px);
    @include S(left, 10px);
    display: flex;

    backdrop-filter: blur(D(1px));
    flex-direction: column;
    align-items: flex-start;
    backdrop-filter: blur(D(1px));
    padding: D(3px);

    > button,
    > .button {
        @include PlainText;
        @include IncreasedClickArea(0px);
        background: green;
        @include S(width, 30px);
        @include S(height, 30px);

        pointer-events: all;
        cursor: pointer;
        position: relative;
        transition: all 0.12s ease-in-out;
        transition-property: opacity, transform;

        display: inline-flex;
        background: center center / 70% no-repeat;
        grid-row: 1;

        &.pressed {
            transform: scale(0.9) !important;
        }

        opacity: 0.7;
        &:hover {
            opacity: 0.9 !important;
        }

        @include DarkThemeInvert;

        &.settings {
            & {
                /* @load-async */
                background-image: uiResource("icons/settings_menu_settings.png");
            }
        }

        &:hover {
            opacity: 0.9;
            transform: translateY(0);
        }
    }
}
