#ingame_HUD_PuzzleEditorControls {
    position: absolute;

    @include S(top, 70px);
    @include S(left, 10px);

    display: flex;
    flex-direction: column;
    @include SuperDuperSmallText;
    @include S(width, 200px);

    > span {
        @include S(margin-bottom, 10px);

        strong {
            font-weight: bold;
        }
    }

    @include DarkThemeInvert;
}

#ingame_HUD_PuzzleEditorTitle {
    position: absolute;

    @include S(top, 18px);
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    @include Heading;
    text-align: center;

    @include DarkThemeOverride {
        color: #eee;
    }
}
