#ingame_HUD_StandaloneAdvantages {
    .content {
        @include S(width, 500px);
        @include S(min-height, 300px);
    }
    p {
        @include PlainText;
    }

    .points {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @include S(grid-column-gap, 5px);
        @include S(grid-row-gap, 5px);
        @include S(margin, 10px, 0, 10px);
        align-items: center;
    }

    .title {
        @include Heading;
        text-transform: none;
        text-align: center;
        color: $colorRedBright;
    }
    .subTitle {
        @include PlainText;
        text-transform: none;
        text-align: center;
    }

    .lowerBar {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        > button {
            transition: opacity 0.12s ease-in-out;
            &:hover {
                opacity: 0.85;
            }
        }

        .otherCloseButton {
            @include SuperSmallText;
            @include S(margin-right, 30px);
            color: #aaa;
            @include S(margin, 0);
            @include IncreasedClickArea(0px);
            @include S(margin-top, 15px);

            &[data-btn-variant="prod"] {
                @include InlineAnimation(11s ease-in-out) {
                    0% {
                        opacity: 0.05;
                    }
                    80% {
                        opacity: 0.05;
                    }
                    100% {
                        opacity: 1;
                    }
                }
            }

            &[data-btn-variant="steam-demo"] {
                @include InlineAnimation(5s ease-in-out) {
                    0% {
                        opacity: 0.05;
                    }
                    50% {
                        opacity: 0.05;
                    }
                    100% {
                        opacity: 1;
                    }
                }
            }
        }

        .playtimeDisclaimer {
            @include S(margin-bottom, 15px);
            @include PlainText;
        }

        .playtimeDisclaimerDownload {
            @include SuperSmallText;
            box-sizing: border-box;
            text-align: center;
            @include S(border-radius, $globalBorderRadius);
            @include S(padding, 8px, 10px, 8px, 20px);
            @include S(margin-bottom, 15px);
            pointer-events: all;
            transition: background-color 0.12s ease-in-out;
            color: rgba(#000, 0.5);

            width: 100%;
            background: rgba($colorGreenBright, 0.2);
            cursor: pointer;

            display: grid;
            grid-template-columns: auto 1fr;
            @include S(grid-gap, 5px);

            &::before {
                content: "";
                display: inline-flex;
                @include S(width, 15px);
                @include S(height, 15px);
                & {
                    /* load-async */
                    background: uiResource("icons/savegame_correct.png") center center / contain no-repeat;
                }
            }

            strong {
                color: #000;
            }
        }

        .steamLinkButton {
            @include IncreasedClickArea(5px);
            @include S(margin, 0);
            @include S(width, 180px);
            @include S(height, 40px);
            background: #171a23 center center / contain no-repeat;

            box-shadow: 0 D(3px) D(10px) rgba(96, 163, 136, 0.5);
            overflow: visible;
            @include S(border-radius, $globalBorderRadius);

            @include InlineAnimation(1s ease-in-out infinite) {
                50% {
                    transform: scale(1.02, 1.03);
                }
            }

            &:hover {
                opacity: 0.94 !important;
            }

            > .discount {
                position: absolute;
                @include S(top, -12px);
                @include S(right, -15px);
                background: #4c6b22;
                color: #c5ea3f;
                @include S(border-radius, $globalBorderRadius);
                @include S(padding, 1px, 3px, 1px, 4px);
                @include PlainText;
                text-transform: uppercase;
                transform: rotate(3deg);
            }
        }
    }

    .point {
        display: grid;
        grid-template-columns: #{D(50px)} auto;
        grid-template-rows: D(20px) D(20px);
        background: #eff2f4 #{D(12px)} center / #{D(30px)} no-repeat;

        @include S(border-radius, $globalBorderRadius);
        align-items: center;
        @include S(padding, 10px, 4px, 4px);
        @include S(height, 40px);

        > strong {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            @include PlainText;
            text-transform: uppercase;
            font-weight: bold;
        }

        > p {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            @include SuperSmallText;
            line-height: 1em;
            opacity: 0.8;
        }

        &.levels {
            & {
                /* @load-async */
                background-image: uiResource("res/ui/icons/advantage_new_levels.png");
            }
            > strong {
                color: #f13555;
            }
        }

        &.upgrades {
            & {
                /* @load-async */
                background-image: uiResource("res/ui/icons/advantage_upgrades.png");
            }
            > strong {
                color: #8a00ff;
            }
        }

        &.buildings {
            & {
                /* @load-async */
                background-image: uiResource("res/ui/icons/advantage_buildings.png");
            }
            > strong {
                color: #3fce8b;
            }
        }

        &.wires {
            & {
                /* @load-async */
                background-image: uiResource("res/ui/icons/advantage_wires.png");
            }
            > strong {
                color: #ef2fdb;
            }
        }

        &.markers {
            & {
                /* @load-async */
                background-image: uiResource("res/ui/icons/advantage_markers.png");
            }
            > strong {
                color: #4294ff;
            }
        }

        &.mods {
            & {
                /* @load-async */
                background-image: uiResource("res/ui/icons/advantage_mods.png");
            }
            > strong {
                color: #8a00ff;
            }
        }

        &.savegames {
            & {
                /* @load-async */
                background-image: uiResource("res/ui/icons/advantage_savegames.png");
            }
            > strong {
                color: #ff9500;
            }
        }

        &.darkmode {
            & {
                /* @load-async */
                background-image: uiResource("res/ui/icons/advantage_dark_mode.png");
            }
            > strong {
                color: #292c32;
            }
        }

        &.support {
            & {
                /* @load-async */
                background-image: uiResource("res/ui/icons/advantage_support.png");
            }
            > strong {
                color: #e72d2d;
            }
        }

        &.achievements {
            & {
                /* @load-async */
                background-image: uiResource("res/ui/icons/advantage_achievements.png");
            }
            > strong {
                color: #ffac0f;
            }
        }
    }
}
