#ingame_HUD_StandaloneAdvantages {
    .content {
        @include S(width, 440px);
        @include S(min-height, 300px);
    }
    p {
        @include PlainText;
    }

    .points {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @include S(grid-column-gap, 10px);
        @include S(grid-row-gap, 20px);
        @include S(margin, 10px, 0, 20px);
        grid-template-rows: #{D(30px)};
        align-items: center;
        background: #eef1f4;
        @include S(border-radius, $globalBorderRadius);
        @include S(padding, 15px, 4px);
    }

    .title {
        @include Heading;
        text-transform: none;
        text-align: center;
        color: $colorRedBright;
    }
    .subTitle {
        @include PlainText;
        text-transform: none;
        text-align: center;
    }

    .lowerBar {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        > button {
            transition: opacity 0.12s ease-in-out;
            &:hover {
                opacity: 0.85;
            }
        }

        .otherCloseButton {
            @include SuperSmallText;
            @include S(margin-right, 30px);
            color: #aaa;
            @include S(margin, 0);
            @include IncreasedClickArea(0px);
            @include S(margin-top, 15px);

            &[data-btn-variant="prod"] {
                @include InlineAnimation(11s ease-in-out) {
                    0% {
                        opacity: 0.05;
                    }
                    80% {
                        opacity: 0.05;
                    }
                    100% {
                        opacity: 1;
                    }
                }
            }

            &[data-btn-variant="steam-demo"] {
                @include InlineAnimation(5s ease-in-out) {
                    0% {
                        opacity: 0.05;
                    }
                    50% {
                        opacity: 0.05;
                    }
                    100% {
                        opacity: 1;
                    }
                }
            }
        }

        .playtimeDisclaimer {
            @include S(margin-bottom, 15px);
            @include PlainText;
        }

        .playtimeDisclaimerDownload {
            @include SuperSmallText;
            width: 100%;
            box-sizing: border-box;
            text-align: center;
            background: #b3f2c5;
            @include S(border-radius, $globalBorderRadius);
            @include S(padding, 7px, 10px);
            @include S(margin-bottom, 15px);
            pointer-events: all;
            transition: background-color 0.12s ease-in-out;
            color: rgba(#000, 0.5);

            &:hover {
                background: darken(#b3f2c5, 3);
            }
            cursor: pointer;

            strong {
                color: #000;
            }
        }

        .steamLinkButton {
            @include IncreasedClickArea(5px);
            @include S(margin, 0);
            @include S(width, 180px);
            @include S(height, 40px);
            background: #171a23 center center / contain no-repeat;

            overflow: visible;
            @include S(border-radius, $globalBorderRadius);

            > .discount {
                position: absolute;
                @include S(top, -7px);
                @include S(right, -5px);
                background: #4c6b22;
                color: #c5ea3f;
                @include S(border-radius, $globalBorderRadius);
                @include S(padding, 1px, 3px, 1px, 4px);
                @include SuperSmallText;
                text-transform: uppercase;
                transform: rotate(1deg);
                @include InlineAnimation(1.3s ease-in-out infinite) {
                    50% {
                        transform: rotate(4deg) scale(1.1);
                    }
                }
            }
        }
    }

    .point {
        display: grid;
        grid-template-columns: #{D(55px)} auto;
        grid-template-rows: D(20px) D(20px);

        > strong {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            @include PlainText;
            text-transform: uppercase;
            font-weight: bold;
        }

        > p {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            @include SuperSmallText;
            opacity: 0.8;
        }

        background: transparent #{D(10px)} center / #{D(30px)} no-repeat;

        &.levels {
            & {
                /* @load-async */
                background-image: uiResource("res/ui/icons/advantage_new_levels.png");
            }
            > strong {
                color: #f13555;
            }
        }

        &.upgrades {
            & {
                /* @load-async */
                background-image: uiResource("res/ui/icons/advantage_upgrades.png");
            }
            > strong {
                color: #8a00ff;
            }
        }

        &.buildings {
            & {
                /* @load-async */
                background-image: uiResource("res/ui/icons/advantage_buildings.png");
            }
            > strong {
                color: #3fce8b;
            }
        }

        &.wires {
            & {
                /* @load-async */
                background-image: uiResource("res/ui/icons/advantage_wires.png");
            }
            > strong {
                color: #ef2fdb;
            }
        }

        &.markers {
            & {
                /* @load-async */
                background-image: uiResource("res/ui/icons/advantage_markers.png");
            }
            > strong {
                color: #4294ff;
            }
        }

        &.mods {
            & {
                /* @load-async */
                background-image: uiResource("res/ui/icons/advantage_mods.png");
            }
            > strong {
                color: #8a00ff;
            }
        }

        &.savegames {
            & {
                /* @load-async */
                background-image: uiResource("res/ui/icons/advantage_savegames.png");
            }
            > strong {
                color: #ff9500;
            }
        }

        &.darkmode {
            & {
                /* @load-async */
                background-image: uiResource("res/ui/icons/advantage_dark_mode.png");
            }
            > strong {
                color: #292c32;
            }
        }

        &.support {
            & {
                /* @load-async */
                background-image: uiResource("res/ui/icons/advantage_support.png");
            }
            > strong {
                color: #e72d2d;
            }
        }

        &.achievements {
            & {
                /* @load-async */
                background-image: uiResource("res/ui/icons/advantage_achievements.png");
            }
            > strong {
                color: #ffac0f;
            }
        }
    }
}
