#ingame_VignetteOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    & {
        /* @load-async */
        background: uiResource("vignette.lossless.png") center center / cover no-repeat;
    }
    pointer-events: none;

    @include DarkThemeOverride {
        // Too many artifacts
        display: none;
    }
}
