#ingame_VignetteOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: uiResource("vignette.lossless.png") center center / cover no-repeat;
    pointer-events: none;
}
