#ingame_HUD_Watermark {
    position: absolute;
    background: uiResource("get_on_itch_io.svg") center center / contain no-repeat;
    @include S(width, 110px);
    @include S(height, 40px);
    @include S(top, 5px);
    pointer-events: all;
    cursor: pointer;
    @include S(left, 200px);

    transition: all 0.12s ease-in;
    transition-property: opacity, transform;
    transform: skewX(-0.5deg);
    &:hover {
        transform: skewX(-1deg) scale(1.02);
        opacity: 0.9;
    }
}
