#ingame_HUD_Web {
    .content {
        @include S(width, 500px);
        height: calc(100vh - #{D(40px)});
        iframe {
            width: 100%;
            height: 98%;
            border: none;
            overflow: visible;
        }
    }
}
