* {
    margin: 0;
    padding: 0;
    touch-action: pan-x pan-y !important;
    pointer-events: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

html {
    position: fixed;
    -ms-touch-action: pan-x, pan-y;
    touch-action: pan-x, pan-y;
    -ms-content-zooming: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #dee1ea;
}

body {
    color: #555;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background: inherit !important;
    text-transform: none;
    white-space: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: break-word;
    font-style: normal;
    line-break: auto;
    font-stretch: 100%;
    text-rendering: optimizeLegibility;
    text-decoration: none;
    text-size-adjust: 100%;
    letter-spacing: normal;
    scrollbar-width: 6px;
    -webkit-font-smoothing: antialiased;
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    scrollbar-face-color: #888;
    scrollbar-track-color: rgba(255, 255, 255, 0.1);
}

#ll_fp {
    font-family: "GameFont", Arial, sans-serif;
    font-size: 14px;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.05;
}

#ll_p {
    display: grid;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background: #d5d8de;
    grid-template-rows: 1fr 200px;
    grid-gap: 40px;
    padding: 20px;
    font-size: 14px;
}

#ll_p * {
    line-height: 1em;
}

#ll_loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: end;
    justify-content: center;
}

#ll_loader > .ll_text {
    text-align: center;
    color: #777a7f;
    font-family: "GameFont", Arial, sans-serif;
    font-size: 24px;
    height: 30px;
    line-height: 1.2em;
}

#ll_progressbar {
    width: 80vw;
    max-width: 800px;
    margin-top: 40px;
    height: 7px;
    border-radius: 20px;
    background: rgba(0, 10, 20, 0.08);

    /* border: 5px solid transparent; */
    display: flex;
    position: relative;
    align-items: flex-start;
}

@keyframes LL_LoadingAnimation {
    50% {
        background-color: #34ae67;
    }
}

#ll_progressbar > span {
    border-radius: 20px;
    position: absolute;
    height: 190%;
    width: 5%;
    background: #fff;
    transform: translateY(-50%);
    top: 50%;
    display: inline-flex;
    background-color: #269fba;
    animation: LL_LoadingAnimation 4s ease-in-out infinite;
    position: relative;
    z-index: 10;
    border: 4px solid #d5d8de;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); */
    transition: width 0.5s ease-in-out;
    min-width: 4%;
}

#ll_progressbar > #ll_loadinglabel {
    position: absolute;
    z-index: 20;
    top: 50%;
    text-transform: uppercase;
    border-radius: 7px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #33373f;
}

@keyframes ShowStandaloneBannerAfterDelay {
    0% {
        opacity: 0;
    }
    95% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#ll_standalone {
    text-align: center;
    color: #777a7f;
    margin-top: 30px;
    display: block;
    font-size: 16px;
    animation: ShowStandaloneBannerAfterDelay 60s linear;
}

#ll_standalone a {
    color: #39f;
    margin-left: 5px;
    font-weight: bold;
}

#ll_logo {
}

#ll_logo > img {
    width: 40vw;
    max-width: 700px;
    min-width: 150px;
}

#ll_loader > .ll_spinner {
    width: 80px;
    height: 80px;
    display: inline-flex;
    background: center center / contain no-repeat;
    display: none;
}

#ll_preload_status {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    opacity: 1 !important;
    font-size: 18px;
    color: rgba(0, 10, 20, 0.5);

    font-family: "GameFont", Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
}

#ll_preload_error {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999;
    background: #d5d8de;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ll_preload_error > .inner {
    color: #fff;
    font-family: Arial, "sans-serif";
    font-size: 15px;
    padding: 0;
    text-align: center;
}

#ll_preload_error > .inner > .heading {
    color: #ef5072;
    margin-bottom: 40px;
    font-size: 45px;
}

#ll_preload_error > .inner > .content {
    color: #55585f;
    font-family: monospace;
    text-align: left;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#ll_preload_error > .inner .discordLink {
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Arial;
}

#ll_preload_error > .inner .discordLink a {
    color: #39f;
}
#ll_preload_error > .inner .discordLink strong {
    font-weight: 900 !important;
}

#ll_preload_error > .inner .source {
    color: #777;
}
