#state_AboutState {
    > .container .content {
        @include S(max-width, 600px);
        @include PlainText;
        padding: 0;
    }

    .head {
        background: rgba(0, 0, 0, 0.2);
        @include S(padding, 10px);

        img {
            display: block;
            margin: 0 auto;
            @include S(max-width, 300px);
        }
    }

    .text {
        @include S(margin, 10px);
    }

    a {
        @include S(margin, 0, 3px);
    }

    @include DarkThemeOverride {
        .head {
            background: rgba(22, 21, 21, 0.1);
        }
    }
}
