#state_ChangelogState {
    .content {
        display: flex;
        flex-direction: column;
    }
    .entry {
        padding: 20px;
        .version {
            @include Heading;
        }
        .date {
            @include PlainText;
            &::before {
                content: " | ";
            }
            color: #aaabaf;
        }

        .changes {
            @include SuperSmallText;
            @include S(padding-left, 20px);
            strong {
                color: #aaa;
                text-transform: uppercase;
                @include S(padding, 1px, 2px);
                @include S(margin-right, 3px);
            }
        }
    }
}
