#state_CreditsState {
    .container .content {
        text-align: center;

        .tobspr .title {
            @include S(margin-top, 10px);
        }

        .section {
            @include S(margin-top, 10px);
            @include S(padding, 5px);
            background-color: #f8f8f8;
            @include DarkThemeOverride {
                background: rgba(0, 10, 20, 0.1);
            }

            .title {
                @include Heading;
                @include S(margin-bottom, 8px);

                color: #555;
                @include DarkThemeOverride {
                    color: #eee;
                }
            }

            .people {
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.5s ease-out;
            }
        }
    }
}
