#state_MainMenuState {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: rgb(99, 212, 169) uiResource("main_menu/bg.noinline.jpg") center center / cover !important;
    // background: $colorGreenBright !important;

    .logo {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        img {
            @include S(width, 350px);
        }
    }

    .mainContainer {
        @include S(margin-top, 40px);
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        background: #fafafa;
        @include S(padding, 20px);
        @include S(border-radius, 4px);
        // border: #{D(2px)} solid rgba(0, 10, 20, 0.1);

        .betaWarning {
            @include S(width, 400px);
            @include PlainText;
            background: $colorRedBright;
            @include S(padding, 10px);
            @include S(border-radius, 4px);
            color: #fff;
            @include S(margin-bottom, 10px);
        }

        .playButton {
            @include SuperHeading;
            @include S(width, 130px);
            @include S(padding, 15px, 20px);
            letter-spacing: 0.3em !important;
            color: #fff;
            background-color: #55585a;
            text-shadow: #{D(1px)} #{D(2px)} 0 rgba(0, 0, 0, 0.1);
        }
    }

    .footer {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: flex-end;

        @include S(padding, 15px);
        > a {
            display: flex;
            flex-direction: row;
            align-items: center;

            justify-content: center;
            background: #fafafa;
            @include S(padding, 5px);
            @include S(padding-left, 10px);
            @include S(border-radius, 4px);
            @include S(margin-left, 10px);
            @include SuperSmallText();

            font-weight: bold;
            text-transform: uppercase;
            color: #616266;

            transition: all 0.12s ease-in-out;
            transition-property: background-color, transform;
            pointer-events: all;
            @include S(width, 120px);
            @include S(height, 50px);
            cursor: pointer;
            &:hover {
                background-color: #fff;
                transform: scale(1.01);
            }

            .thirdpartyLogo {
                display: inline-block;
                width: 80%;
                height: 80%;
                background: center center / 80% no-repeat;
                &.githubLogo {
                    background-image: uiResource("main_menu/github.png");
                }
                &.discordLogo {
                    background-image: uiResource("main_menu/discord.png");
                    background-size: 95%;
                }
            }
        }
    }
}
