#state_MainMenuState {
    display: flex;
    justify-content: center;
    flex-direction: column;

    background: $colorGreenBright uiResource("main_menu/bg_pattern.png") top left / #{D(10px)} !important;
    // background: $colorGreenBright !important;

    .logo {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        img {
            @include S(width, 350px);
        }
    }

    .mainContainer {
        @include S(margin-top, 40px);
        display: flex;
        flex-grow: 1;
        align-items: flex-start;
        justify-content: center;

        .playButton {
            @include SuperHeading;
            @include S(width, 130px);
            @include S(padding, 15px, 20px, 10px);
            letter-spacing: 0.3em !important;
            color: #fff;
            background-color: #55585a;
            text-shadow: #{D(1px)} #{D(2px)} 0 rgba(0, 0, 0, 0.1);
        }
    }

    .footer {
        display: flex;
        justify-content: center;

        @include S(padding, 15px);
        > a {
            display: flex;
            flex-direction: row;
            align-items: center;

            justify-content: center;
            background: lighten(#44484a, 55);
            @include S(padding, 5px);
            @include S(border-radius, 4px);
            @include S(margin-left, 10px);
            @include SuperSmallText();
            border: #{D(1px)} solid #44484a;
            border-bottom: #{D(3px)} solid #44484a;
            box-shadow: #{D(1px)} #{D(2px)} #{D(3px)} 0 rgba(0, 10, 20, 0.1);

            font-weight: bold;
            text-transform: uppercase;
            color: #616266;

            transition: background-color 0.12s ease-in-out;
            pointer-events: all;
            @include S(width, 120px);
            @include S(height, 50px);
            cursor: pointer;
            &:hover {
                background-color: lighten(#44484a, 65);
            }

            .thirdpartyLogo {
                display: inline-block;
                width: 100%;
                height: 100%;
                background: center center / 85% no-repeat;
                &.githubLogo {
                    background-image: uiResource("main_menu/github.png");
                }
                &.discordLogo {
                    background-image: uiResource("main_menu/discord.png");
                    background-size: 100%;
                }
            }
        }
    }
}
