#state_MobileWarningState {
    display: flex;
    align-items: center;
    background: #555b75 !important;
    @include S(padding, 20px);
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;

    .logo {
        width: 80%;
        max-width: 200px;
        margin-bottom: 10px;
    }

    p {
        color: rgba(#fff, 0.5);
        display: block;
        margin-bottom: 13px;
        font-size: 16px;
        line-height: 20px;
        max-width: 300px;
        text-align: left;
        a {
            color: $colorBlueBright;
        }
    }

    .standaloneLink {
        width: 200px;
        height: 48px;
        min-height: 40px;
        & {
            background: #000 uiResource("steam_link_btn/0.png") center center / contain no-repeat;
        }
        display: block;
        text-indent: -999em;
        cursor: pointer;
        margin-top: 10px;
        pointer-events: all;
        transition: all 0.12s ease-in;
        transition-property: opacity, transform;
        @include S(border-radius, $globalBorderRadius);
        overflow: hidden;

        &:hover {
            transform: skewX(-1deg) scale(1.02);
            opacity: 0.9;
        }
    }
}
