"appbuild"
{
	"appid" "1930750"
	"desc" "$DESC$"
	"buildoutput" "$STEAMPIPE_DIR$/steamtmp"
	"contentroot" ""
	"setlive" ""
	"preview" "0"
	"local"	""
	"depots"
	{
		"1930756"	"$STEAMPIPE_DIR$/scripts/demo-darwin.vdf"
	}
}
