"appbuild"
{
	"appid" "1318690"
	"desc" "$DESC$"
	"buildoutput" "$STEAMPIPE_DIR$\steamtemp"
	"contentroot" ""
	"setlive" ""
	"preview" "0"
	"local"	""
	"depots"
	{
		"1318691"	"$STEAMPIPE_DIR$\scripts\windows.vdf"
		"1318694"	"$STEAMPIPE_DIR$\scripts\china-windows.vdf"
		"1318692"	"$STEAMPIPE_DIR$\scripts\linux.vdf"
		"1318695"	"$STEAMPIPE_DIR$\scripts\china-linux.vdf"
	}
}
