@include MakeAnimationWrappedEvenOdd(0.2s ease-in-out, "changeAnim") {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.03, 1.03);
    }

    100% {
        transform: scale(1, 1);
    }
}
