@each $animName in ("changeAnimEven", "changeAnimOdd") {
    @keyframes #{$animName} {
        0% {
            transform: scale(1, 1);
        }

        50% {
            transform: scale(1.03, 1.03);
        }

        100% {
            transform: scale(1, 1);
        }
    }

    .#{$animName} {
        animation: $animName 0.2s ease-in-out;
    }
}
