#applicationError {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $mainBgColor;
    color: #333;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    @include S(padding, 30px);

    @include Text;
    text-align: center;

    h1 {
        @include TextShadow3D(#ff0b40);
        @include S(margin-top, 20px);
        @include S(margin-bottom, 30px);
        @include SuperHeading;
        @include S(font-size, 35px);
    }

    .desc {
        // color: rgba(#fff, 0.6);
        color: $themeColor;
        text-align: left;
        @include PlainText;
        font-weight: bold;

        a {
            cursor: pointer;
            pointer-events: all;
            font-weight: bold;
            display: block;
            @include TextShadow3D(#ff0b40);
            @include S(margin-top, 10px);
        }

        display: block;
        @include S(max-width, 350px);
        width: 100%;
    }

    .details {
        font-size: 11px;
        line-height: 15px;
        color: #888;
        font-family: monospace;
        text-align: left;
        @include S(padding, 6px);
        @include S(border-radius, $globalBorderRadius);
        @include BoxShadow3D(#eee);
        position: absolute;
        @include S(bottom, 25px);
        left: 50%;
        transform: translateX(-50%);
        max-width: calc(100vw - 40px);
        box-sizing: border-box;
        @include BreakText;
        min-width: 300px;
    }
}
