$buildings: belt, cutter, miner, mixer, painter, rotater, splitter, stacker, trash, underground_belt;

@each $building in $buildings {
    [data-icon="building_icons/#{$building}.png"] {
        background-image: uiResource("res/ui/building_icons/#{$building}.png") !important;
    }
}

$buildingsAndVariants: belt, splitter, splitter-compact, splitter-compact-inverse, underground_belt,
    underground_belt-tier2, miner, miner-chainable, cutter, cutter-quad, rotater, rotater-ccw, stacker, mixer,
    painter, painter-double, painter-quad, trash, trash-storage;
@each $building in $buildingsAndVariants {
    [data-icon="building_tutorials/#{$building}.png"] {
        background-image: uiResource("res/ui/building_tutorials/#{$building}.png") !important;
    }
}

// Special case
[data-icon="building_tutorials/painter-mirrored.png"] {
    background-image: uiResource("res/ui/building_tutorials/painter.png") !important;
}

$icons: notification_saved, notification_success, notification_upgrade;
@each $icon in $icons {
    [data-icon="icons/#{$icon}.png"] {
        background-image: uiResource("res/ui/icons/#{$icon}.png") !important;
    }
}

$languages: en, de, cs, da, et, es-419, fr, it, pt-BR, sv, tr, el, ru, uk, zh-TW, zh-CN, nb, mt-MT, ar, nl, vi, th,
    hu, pl, ja, kor, no, pt-PT;

@each $language in $languages {
    [data-languageicon="#{$language}"] {
        background-image: uiResource("languages/#{$language}.svg") !important;
    }
}
