$buildings: belt, cutter, miner, mixer, painter, rotater, balancer, stacker, trash, underground_belt, wire,
    constant_signal, logic_gate, lever, filter, wire_tunnel, display, virtual_processor, reader, storage,
    transistor, analyzer, comparator, item_producer, constant_producer, goal_acceptor, block;

@each $building in $buildings {
    [data-icon="building_icons/#{$building}.png"] {
        /* @load-async */
        .icon {
            background-image: uiResource("res/ui/building_icons/#{$building}.png") !important;
        }
    }
}

$buildingsAndVariants: belt, balancer, underground_belt, underground_belt-tier2, miner, miner-chainable,
    cutter, cutter-quad, rotater, rotater-ccw, stacker, mixer, painter-double, painter-quad, trash, storage,
    reader, rotater-rotate180, display, constant_signal, wire, wire_tunnel, logic_gate-or, logic_gate-not,
    logic_gate-xor, analyzer, virtual_processor-rotater, virtual_processor-unstacker, item_producer,
    constant_producer, virtual_processor-stacker, virtual_processor-painter, wire-second, painter,
    painter-mirrored, comparator, goal_acceptor, block;
@each $building in $buildingsAndVariants {
    [data-icon="building_tutorials/#{$building}.png"] {
        /* @load-async */
        background-image: uiResource("res/ui/building_tutorials/#{$building}.png") !important;
    }
}

[data-icon="building_tutorials/balancer-merger.png"],
[data-icon="building_tutorials/balancer-merger-inverse.png"] {
    /* @load-async */
    background-image: uiResource("res/ui/building_tutorials/balancer-merger.png") !important;
}

[data-icon="building_tutorials/balancer-splitter.png"],
[data-icon="building_tutorials/balancer-splitter-inverse.png"] {
    /* @load-async */
    background-image: uiResource("res/ui/building_tutorials/balancer-splitter.png") !important;
}

[data-icon="building_tutorials/transistor.png"],
[data-icon="building_tutorials/transistor-mirrored.png"] {
    /* @load-async */
    background-image: uiResource("res/ui/building_tutorials/transistor.png") !important;
}

// Filter and lever share tutorials
[data-icon="building_tutorials/filter.png"],
[data-icon="building_tutorials/lever.png"] {
    /* @load-async */
    background-image: uiResource("res/ui/building_tutorials/lever.png") !important;
}

// Logic gate
[data-icon="building_tutorials/logic_gate.png"] {
    /* @load-async */
    background-image: uiResource("res/ui/building_tutorials/logic_gate-and.png") !important;
}

// Virtual processor
[data-icon="building_tutorials/virtual_processor.png"] {
    /* @load-async */
    background-image: uiResource("res/ui/building_tutorials/virtual_processor-cutter.png") !important;
}

$icons: notification_saved, notification_success, notification_upgrade, notification_achievement;
@each $icon in $icons {
    [data-icon="icons/#{$icon}.png"] {
        /* @load-async */
        background-image: uiResource("res/ui/icons/#{$icon}.png") !important;
    }
}

$achievements: reset, hidden, belt500Tiles, blueprint100k, blueprint1m, completeLvl26, cutShape, darkMode,
    destroy1000, irrelevantShape, level100, level50, logoBefore18, mam, mapMarkers15, noBeltUpgradesUntilBp,
    noInverseRotater, oldLevel17, openWires, paintShape, place5000Wires, placeBlueprint, placeBp1000, play1h,
    play10h, play20h, produceLogo, produceMsLogo, produceRocket, rotateShape, speedrunBp30, speedrunBp60,
    speedrunBp120, stack4Layers, stackShape, store100Unique, storeShape, throughputBp25, throughputBp50,
    throughputLogo25, throughputLogo50, throughputRocket10, throughputRocket20, trash1000, unlockWires,
    upgradesTier5, upgradesTier8;
@each $achievement in $achievements {
    [data-icon="achievements/#{$achievement}.png"] {
        /* @load-async */
        background-image: uiResource("res/ui/achievements/#{$achievement}.png") !important;
    }
}

$languages: en, de, cs, da, et, es-419, fr, it, pt-BR, sv, tr, el, ru, uk, zh-TW, zh-CN, nb, mt-MT, ar, nl, vi,
    th, hu, pl, ja, kor, no, pt-PT, fi, ro, he;

@each $language in $languages {
    [data-languageicon="#{$language}"] {
        /* @load-async */
        background-image: uiResource("languages/#{$language}.svg") !important;
    }
}

/*
PRICE
*/

.steam_1_pr {
    /* @load-async */
    background-image: uiResource("get_on_steam_with_price.png") !important;
}

.steam_2_npr {
    /* @load-async */
    background-image: uiResource("get_on_steam.png") !important;
}
